fastapi
uvicorn
python-dotenv
groq
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
google-auth
requests

chromadb
sentence-transformers

pdfplumber
python-docx

duckduckgo-search

pydantic