fastapi
uvicorn
python-dotenv
groq
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart
google-auth
requests
pdfplumber
python-docx
duckduckgo-search
pydantic